<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>

<h1>로그인</h1>

<hr>

<form action="/login" method="post">

    <p>
        이메일
        <input type="text" name="username" placeholder="example@email.com">
    </p>

    <p>
        비밀번호
        <input type="password" name="password" placeholder="비밀번호">
    </p>

    <button type="submit">로그인</button>

</form>

<hr>

<p>
    계정이 없으신가요?
    <a href="/signup">회원가입</a>
</p>

</body>
</html>