<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/layout :: commonHead('청년 정책 목록')}"></th:block>
</head>
<body>

<header th:replace="~{fragments/layout :: header}"></header>

<main class="site-main">
<div class="container">

<h1>청년 정책 목록</h1>

<hr>

<div class="table-wrap">
<table>

    <tr>
        <th>ID</th>
        <th>정책명</th>
        <th>카테고리</th>
        <th>지원 내용</th>
        <th>상세보기</th>
    </tr>

    <tr th:each="benefit : ${benefits}">

        <td th:text="${benefit.id}"></td>

        <td th:text="${benefit.title}"></td>

        <td th:text="${benefit.category.name}"></td>

        <td th:text="${benefit.supportAmount}"></td>

        <td>
            <a th:href="@{/benefits/{id}(id=${benefit.id})}">
                상세보기
            </a>
        </td>

    </tr>

</table>
</div>

<hr>

<p>
    <a th:href="@{/}">
        홈으로 돌아가기
    </a>
</p>

</div>
</main>

<footer th:replace="~{fragments/layout :: footer}"></footer>

</body>
</html>
